{
    "aht21": {
        "scl": "7",
        "sda": "0"
        }
    "mpu6050": {
        "scl": "29",
        "sda": "6",
        "threshold", 50
        }
    "w5500" : {
        "mosi": 3,
        "miso": 4,
        "sck": 2,
        "cs": 1,
        "rst": 26
        }
    "mqtt" : {
        "server" : "mqttserver.com",
        "clientid" : "myclientID"
        "topic" : "mytopic",
        "user" : "myuser",
        "password" : "mqttpassword",
        "port" : 8883,
        "keepalive" : 60,
        },
    "sleep_time" : 10
}
